---
import Layout from "./../layouts/PageLayout.astro";

import Header from "./../components/widgets/Header.astro";
import Hero from "./../components/widgets/Hero.astro";
import Content from "./../components/widgets/Content.astro";
import CallToAction from "./../components/widgets/CallToAction.astro";
import Features3 from "./../components/widgets/Features3.astro";

const metadata = {
  title: "Victor LÉONARD - Developpeur Full Stack",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: "Présentation", href: "#" },
        { text: "Compétences", href: "#skills" },
        { text: "Projets", href: "#projects" },
        { text: "Contact", href: "#contact" },
      ]}
      actions={[
        {
          text: "Linkedin",
          href: "https://www.linkedin.com/in/victorleonarddeveloppeur/",
          target: "_blank",
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Développeur Full Stack"
    tagline="Victor LÉONARD"
    actions={[
      {
        variant: "primary",
        text: "Me contacter via Linkedin",
        href: "https://www.linkedin.com/in/victorleonarddeveloppeur/",
        target: "_blank",
      },
    ]}
  >
    <Fragment slot="subtitle">
      Autodidacte et passionné par le développement web, le webdesign, et les
      nouvelles technologies, je suis constamment curieux et à l'affût des
      dernières innovations.<br /> J'aime explorer les tendances émergentes et les
      intégrer dans mes projets pour créer des solutions innovantes et performantes.<br
      /> N'hésitez pas à me contacter pour en savoir plus sur mon parcours et mes
      passions.
    </Fragment>
  </Hero>

  <Features3
    id="skills"
    title="Compétences"
    subtitle=""
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: "HTML",
        progress: "90",
        progressColor: "bg-green-600",
      },
      {
        title: "CSS",
        progress: "90",
        progressColor: "bg-green-600",
      },
      {
        title: "Javascript",
        progress: "80",
        progressColor: "bg-green-600",
      },
      {
        title: "Typescript",
        progress: "60",
        progressColor: "bg-green-600",
      },
      {
        title: "VueJS",
        progress: "90",
        progressColor: "bg-green-400",
      },
      {
        title: "Nuxt",
        progress: "80",
        progressColor: "bg-green-400",
      },
      {
        title: "Astro",
        progress: "20",
        progressColor: "bg-green-400",
      },
      {
        title: "PHP",
        progress: "70",
        progressColor: "bg-blue-500",
      },
      {
        title: "Symfony",
        progress: "70",
        progressColor: "bg-blue-300",
      },
      {
        title: "Node.js",
        progress: "80",
        progressColor: "bg-blue-500",
      },
      {
        title: "Strapi",
        progress: "70",
        progressColor: "bg-blue-300",
      },
      {
        title: "Photoshop",
        progress: "50",
        progressColor: "bg-indigo-300",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <Content
    id="projects"
    title="Projets"
    subtitle="Voici une sélection de mes projets personnels et professionnels, mettant en avant mes compétences en développement front-end et back-end."
    isReversed
    items={[
      {
        title: "Description:",
        description:
          "Application permettant au groupe de musique de proposer aux autres membres des musiques à jouer.<br>- Proposition d'un titre<br>- Notifications envoyée par email<br>-Ajout du niveau d'avancement dans l'apprentissage du titre",
      },
      {
        title: "Technique",
        description:
          "La recherche des musiques se fait via l'api de Soptify.<br>Le front utilise le framework Quasar<br>L'api est réaslié avec Strapi",
      },
    ]}
    tags={[
      {
        title: "Javascript",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
      {
        title: "Quasar",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
      {
        title: "Strapi",
        color: "bg-blue-100 text-blue-700 dark:text-blue-900",
      },
    ]}
    images={[
      {
        src: "projets/cover/2.png",
        alt: "",
      },
      {
        src: "projets/cover/3.png",
        alt: "",
      },
      {
        src: "projets/cover/4.png",
        alt: "",
      },
      {
        src: "projets/cover/5.png",
        alt: "",
      },
      {
        src: "projets/cover/6.png",
        alt: "",
      },
      {
        src: "projets/cover/7.png",
        alt: "",
      },
      {
        src: "projets/cover/8.png",
        alt: "",
      },
      {
        src: "projets/cover/9.png",
        alt: "",
      },
      {
        src: "projets/cover/10.png",
        alt: "",
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Cover: <br />
        <span class="text-2xl"> Application pour groupe de musique </span>
      </h3>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: "Description:",
        description:
          "Application d'aide pour l'apprentissage d'éléve du primaire : dictée, heure, conjugaison",
      },
      {
        title: "Technique:",
        description: `Front developpé avec Quasar<br> Api réalisée avec Symfony 7`,
      },
    ]}
    images={[
      {
        src: "projets/dictation/1.png",
        alt: "",
      },
      {
        src: "projets/dictation/2.png",
        alt: "",
      },
      {
        src: "projets/dictation/3.png",
        alt: "",
      },
      {
        src: "projets/dictation/4.png",
        alt: "",
      },
    ]}
    ,
    tags={[
      {
        title: "Javascript",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
      {
        title: "PHP",
        color: "bg-blue-200 text-blue-80 dark:text-blue-900",
      },
      {
        title: "Symfony",
        color: "bg-blue-100 text-blue-80 dark:text-blue-900",
      },
      {
        title: "Quasar",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Devoir : <br /><span class="text-2xl">Aide aux devoirs</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: "Description:",
        description: `Site permettant d'afficher et de postuler à des offres d'emploi`,
      },
      {
        title: "Technique:",
        description: `Front developpé avec Quasar<br>Back developpé avec Strapi<br>Recherche par ville avec l'api de google.<br>Ensemble du site paramétrable depuis Strapi (traductions, liste de logiciels, footer, images, cgu...)`,
      },
    ]}
    images={[
      {
        src: "projets/jobs/jobs-1.png",
        alt: "",
      },
      {
        src: "projets/jobs/jobs-2.png",
        alt: "",
      },
      {
        src: "projets/jobs/jobs-3.png",
        alt: "",
      },
    ]}
    ,
    tags={[
      {
        title: "Javascript",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
      {
        title: "Quasar",
        color: "bg-yellow-100 text-yellow-80 dark:text-yellow-900",
      },
      {
        title: "Strapi",
        color: "bg-blue-100 text-blue-700",
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Jobs: <br /><span class="text-2xl"
          >Site d'offre d'emploi dédié aux métiers de l'architecture
        </span>
      </h3>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Contact"
    subtitle="Vous pouvez me contacter via linkedin"
    actions={[
      {
        variant: "primary",
        text: "Linkedin",
        href: "https://www.linkedin.com/in/victorleonarddeveloppeur/",
      },
    ]}
  />
</Layout>
