---
import Layout from "~/layouts/PageLayout.astro";

import Header from "~/components/widgets/Header.astro";
import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import Steps from "~/components/widgets/Steps.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import { getPermalink } from "~/utils/permalinks";

const metadata = {
  title: "Personal Homepage Demo",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: "Présentation", href: "#" },
        { text: "Compétence", href: "#skills" },
        { text: "Projets", href: "#projects" },
        { text: "Contact", href: "#contact" },
      ]}
      actions={[
        {
          text: "Linkedin",
          href: "#",
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Personal Web Demo"
    actions={[
      {
        variant: "primary",
        text: "Hire me",
        href: getPermalink("/contact#form"),
      },
    ]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With
      5 years of experience and a degree from New York University's School of Design.
      I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero>

  <Features3
    id="skills"
    title="Compétences"
    subtitle=""
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: "HTML",
        progress: "50",
        progressColor: "bg-sky-500",
      },
      {
        title: "CSS",
        progress: "50",
        progressColor: "bg-sky-500",
      },
      {
        title: "Javascript",
        progress: "50",
        progressColor: "bg-sky-500",
      },
      {
        title: "HTML",
        progress: "50",
        progressColor: "bg-sky-500",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Content Widget **************** -->

  <!-- <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    id="projects"
    title="Projets"
    subtitle="Voici une sélection de mes projets personnels et professionnels, mettant en avant mes compétences en développement front-end et back-end."
    isReversed
    items={[
      {
        title: "Description:",
        description:
          "Application permettant au groupe de musique de proposer aux autres membres des musiques à jouer.",
      },
      {
        title: "Technique",
        description:
          "La recherche des musiques se fait via l'api de Soptify.<br>Le front utilise le framework Quasar<br>L'api est réaslié avec Strapi",
      },
    ]}
    tags={[
      {
        title: 'Javascript',
        color: 'bg-yellow-100 text-yellow-80' 
      },
      {
        title: 'Quasar',
        color: 'bg-yellow-100 text-yellow-80' 
      },
      {
        title: 'Strapi',
        color: 'bg-blue-100 text-blue-700' 
      }
    ]}
    images={[
      {
        src: "projets/cover/1.png",
        alt: "",
      },
      {
        src: "projets/cover/2.png",
        alt: "",
      },
      {
        src: "projets/cover/3.png",
        alt: "",
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Cover: <br />
        <span class="text-2xl">
          Application pour groupe de musique
          </span>
      </h3>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: "Description:",
        description:
          "Application pour l'apprentissage d'éléve du primaire : dictée, horloge, verbe",
      },
      {
        title: "Technique:",
        description: `Front developpé avec Quasar<br> Api réalisé avec Symfony 7`,
      },
    ]}
    images={[
      {
        src: "projets/jobs/jobs-1.png",
        alt: "",
      },
      {
        src: "projets/jobs/jobs-2.png",
        alt: "",
      },
      {
        src: "projets/jobs/jobs-3.png",
        alt: "",
      },
    ]},
    tags={[
      {
        title: 'Javascript',
        color: 'bg-yellow-100 text-yellow-80' 
      },
      {
        title: 'PHP',
        color: 'bg-blue-200 text-blue-80' 
      },
      {
        title: 'Symfony',
        color: 'bg-blue-100 text-blue-80' 
      },
      {
        title: 'Quasar',
        color: 'bg-yellow-100 text-yellow-80' 
      }
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Devoir : <br /><span class="text-2xl"
          >Aide aux devoirs</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: "Description:",
        description: `Site permettant d'afficher et de postuler à des offres d'emploi`,
      },
      {
        title: "Technique:",
        description: `Front developpé avec Quasar<br>Back developpé avec Strapi<br>Recherche par ville avec l'api de google.<br>Ensemble du site paramétable depuis Strapi (traductions, liste de logiciels, footer, images, cgu...)`,
      },
    ]}
    images={[
      {
        src: "/projets/jobs/jobs-1.jpg",
        alt: "",
      },
      {
        src: "/projets/jobs/jobs-1.png",
        alt: "",
      },
      {
        src: "/projets/jobs/jobs-1.png",
        alt: "",
      },
    ]},
    tags={[
      {
        title: 'Javascript',
        color: 'bg-yellow-100 text-yellow-80' 
      },
      {
        title: 'Quasar',
        color: 'bg-yellow-100 text-yellow-80' 
      },
      {
        title: 'Strapi',
        color: 'bg-blue-100 text-blue-700' 
      }
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Jobs: <br /><span class="text-2xl"
          >Site d'offre d'emploi dédié aux métiers de l'architecture </span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Contact"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: "primary",
        text: "Hire me",
        href: "/",
      },
    ]}
  />
</Layout>
